@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET es un marco de trabajo web gratuito para construir excelentes sitios web y aplicaciones web utilizando HTML, CSS y JavaScript.</p>
    <p>
        <a href="https://asp.net" class="btn btn-primary btn-lg">Aprende más &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Comenzando</h2>
        <p>
            ASP.NET MVC te brinda una forma poderosa y basada en patrones para construir sitios web dinámicos que
            permiten una separación clara de las responsabilidades y te brinda control total sobre el marcado
            para un desarrollo ágil y agradable.
        </p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Aprende más &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Obtén más bibliotecas</h2>
        <p>NuGet es una extensión gratuita de Visual Studio que facilita agregar, eliminar y actualizar bibliotecas y herramientas en proyectos de Visual Studio.</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Aprende más &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Puedes encontrar fácilmente una empresa de hosting web que ofrezca la combinación adecuada de características y precio para tus aplicaciones.</p>
        <p>
            <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Aprende más &raquo;</a>
        </p>
    </div>
</div>
